body {
    font-family: Calibri, Verdata, Tahoma, sans-serif;
    background: #f1f1f1;
}

.app {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.city-info-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 135px;
    margin: 15px 0;
    border-radius: 3px;
    box-sizing: border-box;
}

.city-info-wrapper .info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.city-info-wrapper .city-name {
    margin: 0 auto 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #363636;
}

.days-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.daily-info {
    width: 150px;
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    animation: fadeIn;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    box-shadow: 0 1px 5px 0 rgba(85,89,102,.35);
    background: #f7f7f7;
}

.daily-info .title {
    color: #363636;
    font-size: 20px;
}

.daily-info .date {
    color: #c6c6c6;
    font-size: 14px;
}

.temp-range {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.temp-range .temp {
    padding: 0 10px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    flex: 1;
}

.temp-range .temp-min {
    color: #87a0b3;
    border-right: 2px solid #c6c6c6;
}

.temp-range .temp-max,
.temp-range.aggregated-max .temp {
    color: #f1761c;
}

.temp-range.aggregated-min .temp{
    color: #87a0b3;
}

.wind-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wind-info .speed {
    font-weight: 700;
}

.daily-info .description {
    font-size: 14px;
    padding: 15px 0;
    color: #3a3a3a;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search-container .input,
.search-container .button {
    display: block;
    padding: 5px 10px;
    height: 34px;
    border-radius: 3px;
    margin-right: 5px;
    box-sizing: border-box;
}

.search-container .button {
    color: #fff;
    background: #088add;
    border: none;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.search-container .button:hover {
    background-color: #05a0f9;
}

.search-container .button.disabled {
    background-color: #8eabc3;
    cursor: default;
}

.search-container .input {
    width: 300px;
    border: 1px solid #8eabc3;
    outline: none;
}

.search-container .input:focus {
    border-color: #aed3ee;
}

.no-results {
    font-size: 22px;
    margin: auto;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(5, 160, 29, 0.2);
    border-top-color: #05a0f9;
    animation: spin 1s infinite linear;
    z-index: 10;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



